.reveal p {
  font-size: xx-large;
}

.reveal section img {
  margin: 0;
  border: 0;
  background: rgba(255, 255, 255, 0) !important;
  margin-right: 20px;
}

.reveal img, .reveal video, .reveal iframe {
  width: 90%;
  height: 90%;
}

.south-east > img {
  width: 65%;
  height: 65%;
}

.north-west {
  border-bottom: solid !important;
}

.north-west.body-message {
  margin-top: 80px !important;
  border-bottom: none !important;
}

.north-east.sub-message {
  margin-top: 135px;
  font-size: xx-large;
}

.remark {
  font-size: x-large !important;
}
